<form action="/schedules/addBusyHour" method="POST" class="form-group" id="formBusyHour">
<div class="row">
    <div class="form-group" class="col-sm-3" >
          <label>Day:</label>
          <select onclick="updateDay()" id="controlSelectDay" name="day" multiple class="form-control" >
          <option value="Mon">Mon</option>
          <option value="Tue">Tue</option>
          <option value="Wed">Wed</option>
          <option value="Thu">Thu</option>
          <option value="Fri">Fri</option>
          <option value="Sat">Sat</option>
          <option value="Sun">Sun</option>
          </select>
    </div>
    <div class="form-group" class="col-sm-3">
      <label>Start:</label>
      <select onclick="updateStartHour()" id="controlSelectS" name="start" multiple class="form-control" >
      <% hours.forEach( (item) => { %>
      <option value=<%- "'" + item + "'" %>> <%= item %></option>
      <% }) %>
      </select>
    </div>
    <div class="form-group" class="col-sm-3">
      <label>End:</label>
      <select onclick="updateEndHour()" id="controlSelectE" name="end" multiple class="form-control" >
      <% hours.forEach( (item) => { %>
      <option><%= item %></option>
      <% }) %>
      })
      </select>
    </div>
</div>
<div class="row">
    <input type="name" name="user" class="form-control" aria-describedby="emailHelp" placeholder="Enter user">
</div>
<div class="row" style="margin-top: 20px">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>