<div class="container col-md-8">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Day</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody id="schedules">
    </tbody>
  </table>
</div>